header,
form,
main,
.current,
.primary,
.additional,
.minmax-temp,
.additional div,
.forecast,
.hourly {
    display: flex;
    gap: 1vh;
}

main,
.current,
.primary,
.additional div,
.hourly {
    flex-flow: column;
}

header,
form,
.additional,
.minmax-temp,
.forecast {
    flex-flow: row;
}